
<div class="container mt-3" *ngIf="childData && childData.length > 0"> <!--used here *ngIf directive type-->
    <h2>Sign in History</h2>   
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email</th>
          <th>Password</th>
          <th>Message</th>
          <th>Action Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let login of childData">
          <td>{{login.email}}</td>
          <td>{{login.password}}</td>
          <td>{{login.message}}</td>
          <td>{{login.cdate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
