<div class="container mt-3">
  <header style="height: 30px;background-color: yellowgreen;"></header>
  <hr/>
  <div class="form-group">

  <div class="container mt-3">
  <h2>Login Page</h2>
  <div style="width:50%;">
     
    <!-- <div *ngIf="message" class="alert alert-success">
      <strong>{{message}}</strong> 
    </div> -->
    <span style="font-size:18px; font-weight:bold;">
      {{message}}
      {{login.email}}
      {{login.password}}
    </span>
    
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <!-- <input #email type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
      <input [(ngModel)]="login.email" name="email" type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <!-- <input #password type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"> -->
      <input [(ngModel)]="login.password" name="password" type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <!-- <button (click)="process(email,password);" type="button" class="btn btn-primary" style="margin-right: 10px;">Submit</button>-->
    <button (click)="process();" type="button" class="btn btn-primary" style="margin-right: 10px;">Submit</button> 
    <button type="button" class="btn btn-danger">Reset</button>
  </form>

<hr/>

<app-sign-in-history [childData]="logins"> <!-- logins is coming from parent app.ts and childData is being sent to child component-->
</app-sign-in-history>

</div>
</div>